    <p class="hero-top-heading">{{newsletter.firstHero.heroTitle}}</p>
    <hr class="hero-divider" />
    <a href="https://www.theatlantic.com/family/archive/2023/02/nazi-lebensborn-program-adopted-children-birth-origins/672962/?utm_source=apple_news">
        <img src={{newsletter.firstHero.heroIMG}} class="hero-image" href={{newsletter.firstHero.heroArticleLink}}/>
        <img src="https://i.imgur.com/TvMfUaJ.png" class="hero-news-logo" />
        <p class="hero-heading">
            {{newsletter.firstHero.heroHeading}}
        </p>
        <p class="hero-sub-heading">
            {{newsletter.firstHero.heroDescription}}
        </p>
        <a class="hero-article-link"
            href= {{newsletter.firstHero.heroArticleLink}}> 
            {{newsletter.firstHero.heroArticle}}
        </a>
    </a>
