
    <row class="footer">
        <columns>
            <img src="https://i.imgur.com/f5aljjn.png" class="footer-logo text-center"/>
            <p>
                Some content requires specific hardware or software. Internet access required; data fees may apply. Content availability is subject to change. For more information, <a href="">click here</u>.
            </p>
            <p>
                Copyright © 2023  Apple Inc. One <a href="https://www.google.com/maps/place/Apple+Park+Way,+Cupertino,+CA+95014/@37.3322056,-122.0110264,17z/data=!3m1!4b1!4m6!3m5!1s0x808fb5908480994d:0xe75bfea4dd9a286f!8m2!3d37.3322056!4d-122.0110264!16s%2Fg%2F11gdtw1wgy"> Apple Park Way, Cupertino, California 95014 USA </a>
            </p>
            <p>
                Privacy Policy  |  Terms and Conditions  |  Support  |  Account
            </p>
            <p>
                If you prefer not to receive this newsletter, you can <a href="#">unsubscribe.</a>
            </p>
        </columns>
    </row>

