<container>
    <row class="header">
        <columns>
            <img  
                src="https://i.imgur.com/VcrRqVK.png"
                class="header-logo"
            />

        </columns>
    </row>

    <row class="sub-header">
        <columns small="12" medium="12">
            <span class="good-morning-span">Good Morning</span> 
            <span class="apple-news-spanCtn">
                <span class="from-span">From</span> 
                <span class="apple-news-span">Apple</span>
                <span class="apple-news-span">News</span>
            </span>
            <span class="date-header-span1">It's Saturday, March 11. </span>
            <span class="date-header-span2">Here's what to read this weekend. </span>
        </columns>
    </row>

</container>