<container>
    <row class="news-article-section">
        <columns>
            <row class="news-article-heroCtn">
                <columns>
                    <row class="news-article-hero">
                        <columns>
                            <row class="inside-news-article">
                                <columns>
                                    {{> first-hero}}
                                    {{> article-suggestions}}
                                    {{> second-hero}}
                                    {{> article-suggestions-other}}
                                    {{> footer-section-inside}}
                                </columns>
                            </row>
                        </columns>
                    </row>
                </columns>
            </row>
            {{> footer-section}}
        </columns>
    </row>
</container>

